#clockContainer {
    position: relative;
    margin: auto;
    width: 40vw;
    height: 40vw;
    background-image: url("/clock.webp");
    background-size: 100%;
}

#hour, #minute, #second {
    position: absolute;
    /* background: black; */
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
    background: black;
    
}

#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
    background: black;
}

#second {
    width: 1%;
    height: 40%;
    top: 10%;
    left: 49.25%;
    opacity: 0.8;
    background: red;
    
}

/* style="width:35%;padding-top:21%;padding-left:33%;border-radius: 25px */
#rcorners2 {
    /* border-radius: 269px;
   
    padding: 107px; 
    width: 100px;
    height: 150px; 
    padding-left: 129px;  */

    
    border-radius: 269px;
    padding: 107px;
    height: 319px;
    padding-left: 140px;
    width: 290px;
    opacity: 0.4;
  }

  